[project]
name = "hokkaido-nandoku-webapp"
version = "0.1.0"
dependencies = [
    "fastapi",
    "uvicorn",
    "boto3",
]

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-mock",
    "httpx",
]

[tool.setuptools.packages.find]
where = ["src"]
